{% extends 'base.html.twig' %}

{% block body %}
    <h1>ticket</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Usercreated</th>
                <td>{{ ticket.userCreated }}</td>
            </tr>
            <tr>
                <th>Userassigned</th>
                <td>{{ ticket.userAssigned }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if ticket.dateCreation %}{{ ticket.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedeadline</th>
                <td>{% if ticket.dateDeadline %}{{ ticket.dateDeadline|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ticket.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Numberpoints</th>
                <td>{{ ticket.numberPoints }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ ticket.project }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticketcrud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticketcrud_edit', { 'id': ticket.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
