<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Easy Project Management 0.1{% endblock %}</title>

            {% block stylesheets %}
                <link rel="stylesheet" href= "{{ asset('bundles/ticket/css/main.css') }}"/>
                <link rel="stylesheet" href= "{{ asset('bundles/ticket/css/event.css') }}"/>
                <link rel="stylesheet" href= "{{ asset('bundles/ticket/css/events.css') }}"/>
                <link rel="stylesheet" href= "{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
                <link rel="stylesheet" href= "{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}">
            {% endblock %}



{#
        {% block stylesheets %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
            {% stylesheets
                'bundles/ticket/css/event.css'
                'bundles/ticket/css/events.css'
                'bundles/ticket/css/main.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        #}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% block bootstrap_navbar_loop %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <ul class="nav navbar-nav">
                    <li><a href="{{ path('ticketcrud_index') }}"><span class="glyphicon glyphicon-home"></span> easyProjectManagement 0.1</a></li>
                    {% if navbarLeft is defined %}
                        {% for element in navbarLeft %}
                            <li><a href={{ path( element.link ) }}><span class="{{ element.glyphicon }}"></span>{{ element.title }}</a></li>
                        {% endfor %}
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if navbarRight is defined %}
                        {% for element in navbarRight %}
                            <li><a href={{ path( element.link ) }}><span class="{{ element.glyphicon }}"></span>{{ element.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}



    {% block bootstrap_flashmessages %}

            {% if app.session.flashBag.has('flash_success') %}
                <div class="alert alert-success fade in">
                    {% for message in app.session.flashbag.get('flash_success') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.session.flashBag.has('flash_error') %}
                <div class="alert alert-danger fade in">
                    {% for message in app.session.flashbag.get('flash_error') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.session.flashBag.has('flash_warning') %}
                <div class="alert alert-danger fade in">
                    {% for message in app.session.flashbag.get('flash_warning') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

    {% endblock %}


        {% block body %}

        {% endblock %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% endblock %}
    </body>
</html>
