<h3>Hello {{ username }}!</h3>

<h2>New Ticket appeared in your dashboard!</h2>

You have stuff to attend to. Your dashboard was populated with new ticket.


<i> It's called {{  }}.
    It was reported by user {{ ticke }} and it's deadline is due {{ ticket. }}.
</i>



More info about all of your tickets can be found in <a href="{{ url('ticketcrud_firstindex') }}">DASHBOARD</a>.





<img src="{{ (asset('bundles/ticket/images/jedi.png')) }}">
<i>easy Project Management app</i>