{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        {#
        <header id="menu">
            <a class="link" href="{{ path('ticketcrud_index') }}">&larr; back to all tickets</a>
            <a class="link" href="{{ path('ticketcrud_show', {'slug': ticket.slug}) }}">show this ticket</a>
        </header>
#}
        <article>
            <section>
                {# the opening <form> tag #}
                {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                <h1>
                    <dr>ticket name:</dr>
                    <hr>

                </h1>
                    <dl>
                        <dd>
                            {{ form_errors(edit_form.name) }}
                            {{ form_widget(edit_form.name) }}
                        </dd>
                        {#
                        <dd>
                            {{ form_errors(edit_form.submit) }}
                            {{ form_widget(edit_form.submit) }}
                        </dd>
                        #}
                        <dt>description:</dt>
                        <dd>
                            {{ form_errors(edit_form.description) }}
                            {{ form_widget(edit_form.description) }}
                        </dd>
{#
                        <dt>Creation:</dt>
                        <dd>
                            {{ form_errors(edit_form.dateCreation) }}
                            {{ form_widget(edit_form.dateCreation) }}
                        </dd>
#}
                        <dt>Deadline:</dt>
                        <dd>
                            {{ form_errors(edit_form.dateDeadline) }}
                            {{ form_widget(edit_form.dateDeadline) }}
                        </dd>

                        <dt>Reporter:</dt>
                        <dd>
                            {{ form_errors(edit_form.userCreated) }}
                            {{ form_widget(edit_form.userCreated) }}
                        </dd>



                        <dt>Assignee:</dt>
                        <dd>
                            {{ form_errors(edit_form.userAssigned) }}
                            {{ form_widget(edit_form.userAssigned) }}
                        </dd>

                        <dt>Project:</dt>
                        <dd>
                            {{ form_errors(edit_form.project) }}
                            {{ form_widget(edit_form.project) }}
                        </dd>

                        <dt>Sprint:</dt>
                        <dd>
                            {{ form_errors(edit_form.numberPoints) }}
                            {{ form_widget(edit_form.numberPoints) }}
                        </dd>

                        <dt>Status:</dt>
                        <dd>
                            {{ form_errors(edit_form.status) }}
                            {{ form_widget(edit_form.status) }}
                        </dd>
                    </dl>

                {# the closing </form> tag #}
                {{ form_end(edit_form) }}

                {{ form(delete_form) }}
            </section>
        </article>
    </section>
{% endblock %}
