{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}

    <section class="events">

        <header id="menu">
                <h1>TicketList:</h1>
                <a class="button" href="{{ path('ticketcrud_new') }}">create new ticket</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="button" href="{{ path('logout') }}">logout</a>
                {% else %}
                    <a class="button" href="{{ path('user_login_form') }}">logout</a>
                {% endif %}

        </header>
        <hr>
        {% for ticket in upcomingTickets %}
            <article>
                <section>
                    <div class="alert alert-warning fade in">
                    <h3>
                        <a href="{{ path('ticketcrud_show', {'slug': ticket.slug}) }}">{{ ticket.name }}</a>
                    </h3>
                    <dl>
                        <dt>Ticket ID:</dt>
                        <dd>{{ ticket.id }}</dd>

                        <dt>Name:</dt>
                        <dd>{{ ticket.name }}</dd>

                        <dt>Desc:</dt>
                        <dd>{{ ticket.description }}</dd>

                        <dt>Creation:</dt>
                        <dd>{{ ticket.dateCreation | date("Y-m-d H:i:s") }}</dd>

                        <dt>Deadline:</dt>
                        <dd> {{ ticket.dateDeadline | date("Y-m-d H:i:s") }} </dd>

                        <dt>Reporter:</dt>
                        <dd>{{ ticket.userCreated.username }}</dd>

                        <dt>Assignee:</dt>
                        <dd>{{ ticket.userAssigned }}</dd>

                        <dt>Project:</dt>
                        <dd>{{ ticket.project }}</dd>

                        <dt>Sprint:</dt>
                        <dd>{{ ticket.numberPoints }}</dd>

                        <dt>Status:</dt>
                        <dd>{{ ticket.status }}</dd>

                    </dl>
                    </div>
                </section>
            </article>
        {% endfor %}

        {% for ticket in overdueTickets %}
            <article>
                <section>
                    <div class="alert alert-danger fade in">
                        <h3>
                            <a href="{{ path('ticketcrud_show', {'slug': ticket.slug}) }}">{{ ticket.name }}</a>
                        </h3>
                        <dl>
                            <dt>Ticket ID:</dt>
                            <dd>{{ ticket.id }}</dd>

                            <dt>Name:</dt>
                            <dd>{{ ticket.name }}</dd>

                            <dt>Desc:</dt>
                            <dd>{{ ticket.description }}</dd>

                            <dt>Creation:</dt>
                            <dd>{{ ticket.dateCreation | date("Y-m-d H:i:s") }}</dd>

                            <dt>Deadline:</dt>
                            <dd> {{ ticket.dateDeadline | date("Y-m-d H:i:s") }} </dd>

                            <dt>Reporter:</dt>
                            <dd>{{ ticket.userCreated.username }}</dd>

                            <dt>Assignee:</dt>
                            <dd>{{ ticket.userAssigned }}</dd>

                            <dt>Project:</dt>
                            <dd>{{ ticket.project }}</dd>

                            <dt>Sprint:</dt>
                            <dd>{{ ticket.numberPoints }}</dd>

                            <dt>Status:</dt>
                            <dd>{{ ticket.status }}</dd>

                        </dl>
                    </div>
                </section>
            </article>
        {% endfor %}


    </section>
{% endblock %}
