{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('ticketcrud_index') }}">&larr; back to the ticket list</a>
        </header>

        <article>

            <section>
            {% if not form.vars.valid %}
            <div class="alert alert-danger fade in">
                Something is not right. Check your input, please... </br></hr>
                {% else %}
                <div class="alert alert-warning fade in">
                    Create a brand new ticket below: </br></hr>
                    {% endif %}


                {# the opening <form> tag #}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <h1>
                        <dt>ticket name:</dt>

                    </h1>

                <dd>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </dd>

                    {#
                        <dl>
                            <dt>description:</dt>
                            <dd>
                                {{ form_errors(form.description) }}
                                {{ form_widget(form.description) }}
                            </dd>

                            <dt>reporter:</dt>
                            <dd>
                                {{ form_errors(form.userCreated) }}
                                {{ form_widget(form.userCreated) }}
                            </dd>

                            <dt>assignee:</dt>
                            <dd>
                                {{ form_errors(form.userAssigned) }}
                                {{ form_widget(form.userAssigned) }}
                            </dd>
                        </dl>
                    #}
                    <dt>description:</dt>
                    <dd>
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </dd>
{#
                    <dt>Creation:</dt>
                    <dd>
                        {{ form_errors(form.dateCreation) }}
                        {{ form_widget(form.dateCreation) }}
                    </dd>
#}
                    <dt>Deadline:</dt>
                    {# <dd> {{ ticket.dateDeadline | date("Y-m-d H:i:s") }} </dd> #}
                    <dd>
                        {{ form_errors(form.dateDeadline) }}
                        {{ form_widget(form.dateDeadline) }}
                    </dd>

                    <dt>Reporter:</dt>
                    <dd>
                        {{ form_errors(form.userCreated) }}
                        {{ form_widget(form.userCreated) }}
                    </dd>

                    <dt>Assignee:</dt>
                    <dd>
                        {{ form_errors(form.userAssigned) }}
                        {{ form_widget(form.userAssigned) }}
                    </dd>

                    <dt>Project:</dt>
                    <dd>
                        {{ form_errors(form.project) }}
                        {{ form_widget(form.project) }}
                    </dd>

                    <dt>Sprint:</dt>
                    <dd>
                        {{ form_errors(form.numberPoints) }}
                        {{ form_widget(form.numberPoints) }}
                    </dd>

                    <dt>Status:</dt>
                    <dd>
                        {{ form_errors(form.status) }}
                        {{ form_widget(form.status) }}
                    </dd>

                {# the closing </form> tag #}
                {{ form_end(form) }}

                </div></div>
            </section>
        </article>
    </section>
{% endblock %}
