{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <h3>Here you can create a new one:</h3>
        </header>
    </section>


    <section class="event-show event-edit">
        <article>
            <section>
            {% if not form.vars.valid %}
            <div class="alert alert-danger fade in">
                Something is not right. Check your input, please... </br></hr>
                {% else %}
                <div class="alert alert-warning fade in">
                    Create a brand new ticket below: </br></hr>
                    {% endif %}


                {# the opening <form> tag #}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <h1>
                        <dt>ticket name:</dt>

                    </h1>

                <dd>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </dd>

                    <dt>description:</dt>
                    <dd>
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </dd>

                    <dt>Deadline:</dt>
                    <dd>
                        {{ form_errors(form.dateDeadline) }}
                        {{ form_widget(form.dateDeadline) }}
                    </dd>


                    <dt>Project:</dt>
                    <dd>
                        {{ form_errors(form.project) }}
                        {{ form_widget(form.project) }}
                    </dd>

                    <dt>Sprint:</dt>
                    <dd>
                        {{ form_errors(form.numberPoints) }}
                        {{ form_widget(form.numberPoints) }}
                    </dd>


                {# the closing </form> tag #}
                {{ form_end(form) }}

                </div></div>
            </section>
        </article>
    </section>
{% endblock %}
