{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <h3>See everything about it:</h3>
        </header>
    </section>

    <section class="event-show">
        <article>
            <section>
                <h1>
                    {{ ticket.name }}
                </h1>

                <hr><hr>
                <dl>
                    <dt>description:</dt>
                    <dd>{{ ticket.description }}</dd>

                    <dt>Creation:</dt>
                    <dd>{{ ticket.dateCreation | date("Y-m-d H:i:s") }}</dd>

                    <dt>Deadline:</dt>
                    <dd>{{ ticket.dateDeadline | date("Y-m-d H:i:s") }}</dd>

                    <dt>Reporter:</dt>
                    <dd>{{ ticket.userCreated.username }} </dd>

                    <dt>Assignee:</dt>
                    <dd>{{ ticket.userAssigned }} </dd>

                    <dt>Project:</dt>
                    <dd>{{ ticket.project }} </dd>

                    <dt>Sprint:</dt>
                    <dd>{{ ticket.numberPoints }} </dd>

                    <dt>Status:</dt>
                    <dd>{{ ticket.status }} </dd>

                    <br><hr><hr>

                    <a href = "{{ path('ticketcrud_index') }}"
                       button type="button" class="btn btn-success pull-left">COMPLETED</a>

                    <a href = "{{ path('ticketcrud_index') }}"
                       button type="button" class="btn btn-danger pull-left">REJECTED</a>



                    <a href = "{{ path('ticketcrud_delete', {'id': ticket.id}) }}"
                       button type="button" class="btn btn-warning pull-right">delete</a>
                    <a href = "{{ path('ticketcrud_edit', {'id': ticket.id}) }}"
                       button type="button" class="btn btn-warning pull-right">edit</a>
                    <a href = "{{ path('ticketcrud_index') }}"
                       button type="button" class="btn btn-primary pull-right">back</a>
                </dl>
            </section>
        </article>
    </section>
{% endblock %}
