{% extends 'TicketBundle::layout.html.twig' %}

{% block body %}

    <section class="event-show">
        <header id="menu">
            <a class="link" href="{{ path('ticketcrud_index') }}">&larr; back to the events list</a>
        </header>

        <article>
            <section>
                <h1>
                    {{ entity.name }}
                    <a class="button" href="{{ path('ticket_homepage', {'id': entity.id}) }}">edit</a>
                </h1>

                <dl>
                    {#
                    <dt>where:</dt>
                    <dd>{{ entity.location }}</dd>

                    <dt>when:</dt>
                    <dd>{{ entity.time | date('g:ia / l M j, Y') }}</dd>

                    <dt>what:</dt>
                    <dd>{{ entity.details }}</dd>

                    <dt>who:</dt>
                    <dd>
                        <ul class="users">
                            <li>nobody yet!</li>
                        </ul>
                    </dd>
                    #}

                </dl>
            </section>
        </article>
    </section>
{% endblock %}
