{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>

            <form action="{{ path('user_register') }}" method="POST">
                </hr>

                {% if not form.vars.valid %}
                <div class="alert alert-danger fade in">
                    Invalid data detected in registration form. </br></hr>
                {% else %}
                <div class="alert alert-warning fade in">
                    Please fill in the registration form. </br></hr>
                {% endif %}


                {{ form_errors(form) }}

                {{ form_row(form.username, {
                    'label': 'username'
                }) }}
                {{ form_row(form.email, {
                    'label': 'email'
                }) }}
                {{ form_row(form.plainPassword.first, {
                    'label': 'password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label': 'repeat password'
                }) }}

                {{ form_rest(form) }}
                <input type="submit" value="Register!" class="btn btn-primary pull-right" />
                </div></div>
            </form>
        </article>
    </section>
{% endblock %}
