<h3>Hello {{ username }}!</h3>

<h2>You've succesfully registered in easy Project Management productivity tool system!</h2>

Thank you for joining up, I am sure you will find this tool useful in being more productive.




To login, click <a href="{{ url('user_login_form') }}">HERE</a>.
To register again, click: <a href="{{ url('user_register') }}">HERE</a>.
To see your brand new dashboard, click: <a href="{{ url('ticketcrud_firstindex') }}">HERE</a>.



Thanks!


<img src="{{ (asset('bundles/ticket/images/jedi.png')) }}">
<i>easy Project Management app</i>